<head>
  <title>todos</title>
</head>

<body>
  <h1>Welcome to Meteor!</h1>

  {{> hello}}
  {{> todos}}
  {{> todo_add}}
</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="todos">
    <h2>{{title}}</h2>
    <ul>
        {{#each todos}}
            <li class="{{isPriority this }}">
                <input type="checkbox" class="prioritize" id="{{_id}}" checked="{{isCheckedPriority this }}"/>
                <span>{{body}}</span>
                <input type="checkbox" class="finish" id="{{_id}}" checked="{{isCheckedFinished this}}"/>
                {{#if isFinished this}}
                    <span class="finished">Finished</span>
                {{/if}}
                <button value="Delete" class="delete" id="{{_id}}">Delete</button>
                <button value="Subtasks" id="{{_id}}" class="add_subtask">Add subtasks</button>
                 {{#if showSubtaskForm _id}}
                    {{> subtask_add}}
                 {{/if}}
                 <br>
                 <ul>
                     {{#each subtasks _id}}
                        <li class="{{isPriority this }}">
                            <input type="checkbox" class="prioritize" id="{{_id}}" checked="{{isCheckedPriority this }}"/>
                            <span>{{body}}</span>
                            <input type="checkbox" class="finish" id="{{_id}}" checked="{{isCheckedFinished this}}"/>
                            {{#if isFinished this}}
                                <span class="finished">Finished</span>
                            {{/if}}
                             <button value="Delete" class="delete" id="{{_id}}">Delete</button>
                         </li>
                     {{/each}}
                 </ul>
            </li>
        {{/each}}
    </ul>
    <button id="show_form">Add new item</button>
</template>
<template name="todo_add">
    {{#if showForm}}
        <form id="todo_add">
            <label for="body">Item</label>
            <input type="text" name="body" /><br>
            <label for="priority">Is priority</label>
            <input type="checkbox" name="priority" value=1 /><br>
            <input type="submit" value="Submit" />
        </form>
    {{/if}}
</template>

<template name="subtask_add">
    <form id="subtask_add">
        <label for="body">Item</label>
        <input type="text" name="body" /><br>
        <label for="priority">Is priority</label>
        <input type="checkbox" name="priority" value=1 /><br>
        <input type="submit" value="Submit" />
    </form>
</template>